.App {
  text-align: center;
}

.App-logo {
  width: 90%;
  max-width: 200px;
  pointer-events: none;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-input{
  padding: 0.5rem;
}

.App-error {
  color: #d05;
}
